.modal-overlay {
    position: fixed;
    inset: 0;
    height: 100%;
    z-index: 1000;
    background-color: grey;
    opacity: 0.8;
}

.modal-content {
    position: fixed;
    inset: 32px;
    z-index: 1001;
    background-color: white;
}

.modal-header {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.modal-body {
    padding: 8px;
}
