.health-bar {
    width: 100%;
    height: 6px;
    position: absolute;
    left: 0;
    bottom: 4px;
    background-color: lightgrey;
}

.energy-bar {
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: white;
}

.icon {
    display: block;
    mask-size: cover;
    margin: auto;
    width: 20px;
    height: 20px;
    background-color: black;
}

.icon.download {
    mask-image: url(/src/assets/download-solid.svg);
}

.icon.upload {
    mask-image: url(/src/assets/upload-solid.svg);
}

.icon.search {
    mask-image: url(/src/assets/magnifying-glass-solid.svg);
}

button[disabled] i {
    background-color: grey;
    user-select: none;
}